/* Start Global */
body {
  height: 10000px;
  background-color: #cccccc;
}

.text-alpha {
  color: #ff8b38;
}

.bg-alpha {
  background-color: #ff8b38;
}

p {
  color: #B5B5B5;
  font-size: 15px;
}

h5,
h6 {
  color: #4C4C4C;
  font-weight: bold;
}

.btn-main {
  background-color: #ff8b38;
  padding: 8px 1.5rem;
  color: #f8f9fa;
}

hr {
  border-top: 4px solid #ff8b38;
  width: 70px;
}

i {
  color: #ff8b38;
}

/* End Global */
/* Start Navbar */
nav.navbar {
  background-color: #000000;
  padding: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

nav.navbar .navbar-brand {
  font-size: 30px;
}

nav.navbar .collapse ul.navbar-nav li {
  padding: 10px 13px;
}

nav.navbar .collapse ul.navbar-nav li a {
  color: #ffffff;
}

nav.navbar .collapse ul.navbar-nav li.active a {
  color: #ff8b38;
}

/* End Navbar */
/* Start Header Section */
section.header {
  background-image: url("../../../images/image.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 933px;
}

section.header .intro h1 {
  font-size: 70px;
}

section.header .intro h2 {
  font-size: 40px;
}

section.header .intro hr {
  border-top: 3px solid #ffffff;
  width: 70px;
  margin: 2rem 0rem;
}

section.header .intro p {
  font-size: 18px;
}

section.header .intro button {
  border-width: 2px;
  padding: 7px;
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
}

section.header .intro button:hover {
  color: #ffffff;
  background-color: #ff8b38;
  border-color: #ff8b38;
}

section.header .sign-up {
  border: 0;
}

section.header .sign-up .card-header {
  background-color: #f5f5f5;
  color: #000000;
  border: none;
}

section.header .sign-up .card-header h5 {
  color: #595959;
}

section.header .sign-up .card-body {
  border-bottom-right-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

section.header .sign-up .card-body form {
  margin-top: 25px;
  width: 100%;
}

section.header .sign-up .card-body form .form-group {
  margin-bottom: 30px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

section.header .sign-up .card-body form .form-group input {
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid #ced4da;
  border-radius: 0;
}

section.header .sign-up .card-body form .form-group input::-webkit-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #cccccc;
  opacity: 1;
  /* Firefox */
}

section.header .sign-up .card-body form .form-group input:-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #cccccc;
  opacity: 1;
  /* Firefox */
}

section.header .sign-up .card-body form .form-group input::-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #cccccc;
  opacity: 1;
  /* Firefox */
}

section.header .sign-up .card-body form .form-group input::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #cccccc;
  opacity: 1;
  /* Firefox */
}

section.header .sign-up .card-body form .form-group input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #cccccc;
}

section.header .sign-up .card-body form .form-group input::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #cccccc;
}

section.header .sign-up .card-body form button {
  width: 100%;
  border: 0;
  border-radius: 0;
  border-bottom-right-radius: 0.2rem;
  border-bottom-left-radius: 0.2rem;
  margin-top: 20px;
  padding: 13px 0;
  background-color: #ff9b51;
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
}

section.header .sign-up .card-body form button:hover {
  background-color: #ff8b38;
}

/* End Header Section */
/* Start Brand Bar Section */
section.brand-bar {
  -webkit-box-shadow: 0 0.35rem 0.25rem rgba(0, 0, 0, 0.075) !important;
          box-shadow: 0 0.35rem 0.25rem rgba(0, 0, 0, 0.075) !important;
}

section.brand-bar .icons li {
  display: inline;
  margin: 0 15px;
  color: #cccccc;
}

section.brand-bar .icons li i {
  color: #cccccc;
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
}

section.brand-bar .icons li:hover i {
  color: #000000;
  cursor: pointer;
}

/* End Brand Bar Section */
/* Start Features Section */
section.features .section-1 {
  background-color: #f5f5f5;
  padding: 150px 0;
}

section.features .section-1 .tabs ul {
  margin-bottom: 0;
}

section.features .section-1 .tabs ul li {
  background-color: #333333;
  color: #ffffff;
  text-align: center;
  width: 112px;
  height: 112px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: bold;
  margin-bottom: 1.5px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
}

section.features .section-1 .tabs ul li:first-of-type {
  border-radius: 0.25rem 0.25rem 0 0;
}

section.features .section-1 .tabs ul li:last-of-type {
  border-radius: 0 0 0.25rem 0.25rem;
  margin-bottom: 0;
}

section.features .section-1 .tabs ul li.active {
  background-color: #ff8b38;
}

section.features .section-1 .tabs ul li:hover:not(.active) {
  background-color: #000000;
}

@media (min-width: 992px) {
  section.features .section-1 .tab {
    padding-right: 85px;
  }
}

section.features .section-1 .tab:not(:first-of-type) {
  display: none;
}

section.features .section-1 .tab h5 {
  margin-bottom: 35px;
}

section.features .section-1 .tab p {
  margin-bottom: 25px;
}

section.features .section-1 .tab p:last-of-type {
  margin-bottom: 2.5rem;
}

section.features .section-2 {
  background-color: #ffffff;
  padding: 150px 0;
}

section.features .section-2 .image img {
  -webkit-box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.5) !important;
          box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.5) !important;
}

section.features .section-2 .content .sub-list .list-icon i {
  font-size: 20px;
  border: 3px solid #ff8b38;
  padding: 10px;
  border-radius: 50%;
}

section.features .section-3 {
  background-color: #f5f5f5;
  padding: 150px 0;
}

section.features .section-3 .image img {
  -webkit-box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.5) !important;
          box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.5) !important;
}

/* End Features Section */
/* Start Our Process Section */
section.our-process {
  background-color: #ffffff;
  padding: 150px 0;
}

section.our-process .header h1 {
  font-family: 'Raleway', sans-serif;
}

section.our-process .header hr {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

section.our-process .content i {
  font-size: 35px;
  border: 3px solid #ff8b38;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
}

section.our-process .content h5 {
  margin: 20px 0;
}

/* Start Our Process Section */
/* Start Pricing Section */
section.pricing {
  background-color: #f5f5f5;
  padding: 150px 0;
}

section.pricing .header h1 {
  font-family: 'Raleway', sans-serif;
}

section.pricing .header hr {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

section.pricing .plans {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-top: 50px;
}

@media (max-width: 991px) {
  section.pricing .plans > div:not(:last-child) {
    margin-bottom: 30px;
  }
}

section.pricing .plans .card {
  border: none;
  border-radius: 0;
  margin: 0 10px;
}

section.pricing .plans .card .card-header {
  background-color: #333333;
  border-radius: 0;
  border-bottom: 1px solid #f5f5f5;
  font-weight: bold;
  font-size: 18px;
}

section.pricing .plans .card .card-price {
  background-color: #333333;
  font-size: 25px;
  font-weight: bold;
}

section.pricing .plans .card .card-price .price {
  font-size: 65px;
  font-family: 'Zilla Slab', serif;
}

section.pricing .plans .card .card-price .quote {
  display: block;
  color: #cccccc;
  font-size: 14px;
  font-style: italic;
  font-weight: lighter;
  margin-bottom: 15px;
}

section.pricing .plans .card .card-tip {
  background-color: #ff8b38;
  min-height: 5px;
  text-transform: uppercase;
}

section.pricing .plans .card .card-tip .tip {
  padding: 10px 0;
  color: #ffffff;
  margin-bottom: 0;
}

section.pricing .plans .card .card-details-list {
  color: #b7b7b7;
  text-transform: uppercase;
}

/* End Pricing Section */
