/* Start Global */

// Global Color Variables
$color-alpha: #ff8b38;
$color-beta: #ff9b51;
$color-gamma: #333333;
$color-delta: #f5f5f5;
$color-epsilon: #cccccc;
$color-zeta: #ffffff;
$color-eta: #000000;

// Minins
@mixin transition($time: 00.3) {
    transition: $time + s ease-in-out;
    -webkit-transition: $time + s ease-in-out;
    -moz-transition: $time + s ease-in-out;
    -ms-transition: $time + s ease-in-out;
    -o-transition: $time + s ease-in-out;
}

// Global Elements
body {
    height: 10000px;
    background-color: $color-epsilon;
}

.text-alpha {
    color: $color-alpha;
}

.bg-alpha {
    background-color: $color-alpha;
}

p {
    color: #B5B5B5;
    font-size: 15px;
}

h5,
h6 {
    color: #4C4C4C;
    font-weight: bold;
}

.btn-main {
    background-color: $color-alpha;
    padding: 8px 1.5rem;
    color: #f8f9fa;
}

hr {
    border-top: 4px solid $color-alpha;
    width: 70px;
}

i {
    color: $color-alpha;
}

/* End Global */

/* Start Navbar */

nav.navbar {
    background-color: $color-eta;
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;

    .navbar-brand {
        font-size: 30px;
    }

    .collapse {
        ul.navbar-nav {
            li {
                padding: 10px 13px;

                a {
                    color: $color-zeta;
                }

                &.active a {
                    color: $color-alpha;
                }
            }
        }
    }
}

/* End Navbar */

/* Start Header Section */

section.header {
    background-image: url("../../../images/image.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 933px;

    .intro {
        h1 {
            font-size: 70px;
        }

        h2 {
            font-size: 40px;
        }

        hr {
            border-top: 3px solid $color-zeta;
            width: 70px;
            margin: 2rem 0rem;
        }

        p {
            font-size: 18px;
        }

        button {
            border-width: 2px;
            padding: 7px;
            @include transition();

            &:hover {
                color: $color-zeta;
                background-color: $color-alpha;
                border-color: $color-alpha;
            }
        }
    }

    .sign-up {
        border: 0;

        .card-header {
            background-color: $color-delta;
            color: $color-eta;
            border: none;

            h5 {
                color: #595959;
            }
        }

        .card-body {
            border-bottom-right-radius: 0.25rem;
            border-bottom-left-radius: 0.25rem;

            form {
                margin-top: 25px;
                width: 100%;

                .form-group{
                    margin-bottom: 30px;
                    width: 80%;
                    margin-left: auto;
                    margin-right: auto;

                    input {
                        border-top: none;
                        border-right: none;
                        border-left: none;
                        border-bottom: 1px solid #ced4da;
                        border-radius: 0;
                        

                        &::placeholder {
                            /* Chrome, Firefox, Opera, Safari 10.1+ */
                            color: $color-epsilon;
                            opacity: 1; /* Firefox */
                        }

                        &:-ms-input-placeholder {
                            /* Internet Explorer 10-11 */
                            color: $color-epsilon;
                        }

                        &::-ms-input-placeholder {
                            /* Microsoft Edge */
                            color: $color-epsilon;
                        }
                    }

                }

                button {
                    width: 100%;
                    border: 0;
                    border-radius: 0;
                    border-bottom-right-radius: 0.2rem;
                    border-bottom-left-radius: 0.2rem;
                    margin-top: 20px;
                    padding: 13px 0;
                    background-color: $color-beta;
                    @include transition();

                    &:hover {
                        background-color: $color-alpha;
                    }
                }
            }
        }
    }
}

/* End Header Section */

/* Start Brand Bar Section */

section.brand-bar {
    box-shadow: 0 .35rem .25rem rgba(0,0,0,.075)!important;

    .icons {
        li {
            display: inline;
            margin: 0 15px;
            color: $color-epsilon;

            i {
                color: $color-epsilon;
                @include transition();
            }

            &:hover i {
                color: $color-eta;
                cursor: pointer;
            }
        }
    }
}

/* End Brand Bar Section */

/* Start Features Section */

section.features {
    .section-1 {
        background-color: $color-delta;
        padding: 150px 0;

        .tabs {
            ul {
                margin-bottom: 0;

                li {
                    background-color: $color-gamma;
                    color: $color-zeta;
                    text-align: center;
                    width: 112px;
                    height: 112px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-weight: bold;
                    margin-bottom: 1.5px;
                    cursor: pointer;
                    @include transition();

                    &:first-of-type {
                        border-radius: 0.25rem 0.25rem 0 0;
                    }

                    &:last-of-type {
                        border-radius: 0 0 0.25rem 0.25rem;
                        margin-bottom: 0;
                    }
                    
                    &.active {
                        background-color: $color-alpha;
                    }
                    
                    &:hover:not(.active) {
                        background-color: $color-eta;
                    }
                }
            }
        }

        .tab {
            @media (min-width: 992px) {
                padding-right: 85px;
            }

            &:not(:first-of-type) {
                display: none;
            }

            h5 {
                margin-bottom: 35px;
            }

            p {
                margin-bottom: 25px;

                &:last-of-type {
                    margin-bottom: 2.5rem;
                }
            }
        }
    }

    .section-2 {
        background-color: $color-zeta;
        padding: 150px 0;

        .image{
            img {
                box-shadow: 0 1rem 3rem rgba(0,0,0,0.5)!important;
            }
        }

        .content {
            .sub-list {
                .list-icon {
                    i {
                        font-size: 20px;
                        border: 3px solid $color-alpha;
                        padding: 10px;
                        border-radius: 50%;
                    }
                }
            }
        }
    }

    .section-3 {
        background-color: $color-delta;
        padding: 150px 0;

        .image{
            img {
                box-shadow: 0 1rem 3rem rgba(0,0,0,0.5)!important;
            }
        }
    }
}

/* End Features Section */

/* Start Our Process Section */

section.our-process {
    background-color: $color-zeta;
    padding: 150px 0;

    .header {
        h1 {
            font-family: 'Raleway', sans-serif;
        }

        hr {
            margin-top: 1.5rem;
            margin-bottom: 1.5rem;
        }
    }

    .content {
        i {
            font-size: 35px;
            border: 3px solid $color-alpha;
            width: 70px;
            height: 70px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: auto;
            // margin-bottom: 20px;
        }

        h5 {
            margin: 20px 0;
        }
    }
}

/* Start Our Process Section */

/* Start Pricing Section */

section.pricing {
    background-color: $color-delta;
    padding: 150px 0;

    .header {
        h1 {
            font-family: 'Raleway', sans-serif;
        }

        hr {
            margin-top: 1.5rem;
            margin-bottom: 1.5rem;
        }
    }

    .plans {
        align-items: flex-end;
        margin-top: 50px;

        & > div:not(:last-child) {
            @media (max-width: 991px) {
                margin-bottom: 30px;
            }
        }

        .card {
            border: none;
            border-radius: 0;
            margin: 0 10px;

            .card-header {
                background-color: $color-gamma;
                border-radius: 0;
                border-bottom: 1px solid $color-delta;
                font-weight: bold;
                font-size: 18px;
            }

            .card-price {
                background-color: $color-gamma;
                font-size: 25px;
                font-weight: bold;

                .price {
                    font-size: 65px;
                    font-family: 'Zilla Slab', serif;
                }

                .quote {
                    display: block;
                    color: #cccccc;
                    font-size: 14px;
                    font-style: italic;
                    font-weight: lighter;
                    margin-bottom: 15px;
                }
            }

            .card-tip{
                background-color: $color-alpha;
                min-height: 5px;
                text-transform: uppercase;

                .tip {
                    padding: 10px 0;
                    color: $color-zeta;
                    margin-bottom: 0;
                }
            }

            .card-details-list {
                color: #b7b7b7;
                text-transform: uppercase;
            }
        }
    }
}

/* End Pricing Section */